body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f1f5f9, #e2e8f0);
  display: flex;
  justify-content: center;
}

.app {
  width: 600px;
  margin-top: 40px;
}

.task-card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  position: relative;
  transition: 0.2s;
}

.task-card:hover {
  transform: translateY(-3px);
}

.completed {
  background: #dcfce7;
}

.done-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #22c55e;
}

.task-title {
  font-size: 18px;
  font-weight: 600;
}

.task-desc {
  color: #64748b;
  margin-top: 5px;
}

.meta {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.priority.low {
  color: green;
}
.priority.medium {
  color: orange;
}
.priority.high {
  color: red;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.edit {
  color: #3b82f6;
}
.delete {
  color: #ef4444;
}
.complete {
  color: #22c55e;
}

.task-input input,
.task-input select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.row {
  display: flex;
  gap: 10px;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.modal-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
