@import url("https://fonts.google.com/specimen/Outfit");

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 16px;
  max-width: 320px;
  text-align: center;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0476518);
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 24px;
}

.card h1 {
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin: 0 0 16px 0;
}

.card p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(216, 15%, 48%);
  margin: 0;
  line-height: 1.4;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 24px;
  color: hsl(216, 15%, 48%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
